body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  font-family: 'LifeSavers', sans-serif;
  font-size: 1em;
}

@font-face {
  font-family: 'LifeSavers';
  src: url('/gh-pages/LifeSavers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#App {
  position: relative;
  display: flex;
  gap: 20vw;
  font-size: 2em;
}

.Title {
  font-size: 5em;
  text-align: right;
  margin-bottom: 2vh;
  padding-left: 50px;
}
.ToDoList {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin-left: 10vw;
  width: 20vw;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #afa9fe42;
  align-items: center;
  padding: 2%;
  overflow-y: auto;
  scrollbar-width: none;
}
.ToDoList::-webkit-scrollbar {
  display: none;
}

.Task {
  position: relative;
  width: 100%;
  border: 1px solid #0000004e;
  border-radius: 10px;
  margin-bottom: 2%;
  --DoneColor: #00000017;
}
.Task:hover {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #010a67b8;
  border: 2px solid #010a67b8;
}
#TaskDone{
  opacity: 0.5;
  --DoneColor:rgba(3, 255, 95, 0.911);;
}

#TaskTitle {
  flex: 1;
  width: 100%;
  font-size: 1em;
  margin-bottom: 2%;
}
.desAndDate {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Description {
  flex: 1;
  width: 50%;
  flex-direction: row;
  font-size: 0.3em;
  color: #ffeeeeea;
}
#Date {
  flex: 1;
  width: 50%;
  flex-direction: row;
  font-size: 0.3em;
  color: #ffeeeeea;
  text-align: end;
}
#Priority {
  visibility: hidden;
}

.EditBtn, .Deletebtn, .DeleteProject {
  background-color: transparent;
  border: 0px solid #000000;
  transition: transform 0.2s ease-out;
 
}

.EditBtn:hover, .Deletebtn:hover, .DeleteProject:hover {

  z-index: 200;
  transform: scale(1.2);
  cursor: pointer;
}
.EditBtn:focus, .Deletebtn:focus .DeleteProject:focus {
  background-color: #0000004e;
  border-radius:20%;
}
.DoneBtn{
  position: absolute;
  top: 0%;
  right: 0%;
  border: 2px solid #000000;
  border-radius: 20%;
  transition: border-radius 0.5s ease;
  padding: 5%;
  background-color: var(--DoneColor);
  
 
}
.DoneBtn:hover, .DoneBtn:focus{
  border-radius: 40%;
  
  cursor: pointer;
}



#sidebarToggle{
  position: absolute;
  top: 0%;
  right: 0%;
 display: none;
}

#SideBar {
  flex: 1;
  width: 20vw;
  height: 75vh;
  background-color: #e1dfff31;
  transition: 0.5s;
  box-sizing: border-box;
  z-index: 100;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  overflow: hidden;
  overflow-x:hidden ;
}

#MainToDo,
#Projects {
  
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  flex: 1;
  padding: 2%;
  width: 100%;
  background: #e1dfff31;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-bottom: 3px solid #000000;
}

#Projects::-webkit-scrollbar,#MainToDo::-webkit-scrollbar {
  display: none;
}
#AddTask, #AddProject {
  position: sticky;
  top: 0%;
  width: fit-content;
  padding: 20px 20px 20px -20px;
  top: 0%;
  z-index: 150;
  display: flex;
  color: #000000;
  background-color: transparent;	
  border: 0px solid #000000;
  border-radius: 10px;
}




#AddTask svg:hover {
  color: #00ff00;
  scale: 1.1;
  cursor: pointer;
}
#AddProject svg:hover {
  color: #002fa4cb;
  scale: 1.1;
  cursor: pointer;
}
#Home{
  font-size: 1em;
  border-bottom: 3px solid #000000;

  text-align: center;
}
 #Today, #ThisWeek{
  margin-bottom: 4%;
  text-align: center;
  border-bottom: 1px solid #000000;
}

#Home:hover, #Today:hover, #ThisWeek:hover{
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 3px solid #000000;
  
}
.BoldSelected{
  font-weight: bold;
  color: #000000;
  border-bottom: 3px solid #000000;
}
.myProjects{
  overflow-y: auto;
  overflow-x:hidden ;

  display: flex;
  flex-direction: column ;
  width: 100%;
  margin-bottom: 30px;
 
}
.Project {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  width: 90%;
  border: 1px solid #0000004e;
  border-radius: 10px;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.Project:hover {
  background-color: #0000004e;
  border-radius: 10px;
  cursor: pointer;
}
.Project:focus {
  background-color: #0000004e;
  border-radius: 10px;
}
.DeleteProject{
  flex: 1;
}
.ProjectTitle {
  flex: 4;
  margin-bottom: 2%;
}


.popUpContainer {
  position: absolute;
  top: 25%;
  left: calc(50% - 200px);
  max-width: 400px;
  height: 50%;
  background-color: #ffffffb9;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5%;
  z-index: 150;
  color: #141414;
  font-size: 1.5em;
  box-shadow: 0px 0px 10px 0px #000000;
  backdrop-filter: blur(0px);
  animation: Open 0.5s ease-out;
  backdrop-filter: blur(5px);
}
.popUpContainer-open {
  filter: blur(5px);
  pointer-events: none;
}

@keyframes Open {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 2%;
  flex: 1;
  border: 0px solid #000000;
  border-bottom: 3px solid #000000;
  border-radius: 10px;
  padding: 2%;
  font-size: 1em;
  color: #141414;
  background-color: #ffffffb9;
  transition: scale(1.1) 0.5s ease-out;
}
label {
  width: 80%;
  margin-bottom: 2%;
  flex: 2;
}
#PriorityLabel {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#Priority{
    display: none;
}

.radio {
  flex: 1;
  margin: 0 5px 0 0;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 1em;
  color: #141414;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-out;

}
  .High {
    align-items: center;
    justify-content: center;
  } 
  .Medium {
    align-items: center;
    justify-content: center;

  }
  .Low {
    align-items: center;
    justify-content: center;

  }
  .High:hover, .Medium:hover, .Low:hover {
    transform: scale(1.1);
    
    border: 3px dotted #00ff00;
  }
  .selected{
    border: 2px solid rgb(64, 255, 64);
    animation: FillColor 0.5s ease-out forwards;

  }
 @keyframes FillColor {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: rgb(64, 255, 64);
    }
  
 }
 #Submitbtn{
  width: 50%;
  align-items: center;
  justify-content: center;
  border: 0px solid #000000;
  border-bottom: 3px solid #000000;
  border-radius: 10px;
  padding: 2%;
  font-size: 1em;
  color: #141414;
  background-color: rgba(0, 76, 114, 0.725);
  transition: transform 0.2s ease-out;

  cursor: pointer;

 }
  #Submitbtn:hover{
    transform: scale(1.1);
    background-color: rgba(0, 76, 114, 0.897);
    color: #ffffff;
  }
  .error{
    color: #ff0000;
  }
  
  
.RemovePopUp {
  position: absolute;
  font-size: 2em;
  top: 2%;
  right: 2%;
  color: #000000;
  background-color: transparent;
  border: 0px solid #000000;
}
.RemovePopUp:hover {
  color: #ff0000;
  scale: 1.1;
  cursor: pointer;
}
.popUpContainer-close{
  animation: close 0.2s ease-out;
}
@keyframes close {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media screen and (max-width: 600px) {
  #App {
    height: 70vh;
    flex-direction: column;
    gap: 0;
    font-size: 1em;
  align-items: center;
  }
  .Title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2vh;
    padding-left: 0;
  }
  .ToDoList{
    width: 90%;
    height: 70vh;
    margin-left: 0;
    margin-bottom: 2%;
  }

  #sidebarToggle{
    display: block;
    color: #000;
    
  }

  
  #SideBar {
    height: 90vh;
    position: absolute;
    right: 0%;
    width: 70%;
    display: flex;
    flex-direction: row;
    border: 0px solid #000000;
    border-radius: 0px;
    padding: 2%;
    display: none;
    background-color: #363177d5;
    animation: OpenSideBar 0.5s ease-out;
  }
  @keyframes OpenSideBar {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }

  #MainToDo,
  #Projects {
    flex: 1;
    height: 35vh;
    position: relative;
    width: 100%;
    border: 0px solid #000000;
    border-radius: 0px;
   gap: 20px;
  }
  
  .Title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2vh;
    padding-left: 0;
  }
  .Task {
    width: 100%;
    margin-bottom: 2%;
  }
  .desAndDate {
    flex-direction: column;
    align-items: flex-start;
  }
  #Description {
    width: 100%;
    margin-bottom: 2%;
  }
  #Date {
    width: 100%;
    margin-bottom: 2%;
  }
  .DoneBtn{
    position: absolute;
    top: 0%;
    right: 0%;
    border: 1px solid #000000;
    border-radius: 20%;
    transition: border-radius 0.5s ease;
    padding: 3%;
    background-color: var(--DoneColor);
  }

  
  .popUpContainer {
    position: absolute;
    top: 25%;
    left: calc(50% - 200px);
    max-width: 400px;
    height: 50%;
    background-color: #ffffffb9;
  
}
.popUpContainer-open {
  filter: blur(5px);
  pointer-events: none;
}
}